ALLDATA_API_KEY=ALLDATA_API_KEY_PLACEHOLDER
MELI_API_KEY=MELI_API_KEY_PLACEHOLDER
NEXPART_API_KEY=NEXPART_API_KEY_PLACEHOLDER
OPENAI_API_KEY=OPENAI_API_KEY_PLACEHOLDER
GEMINI_API_KEY=GEMINI_API_KEY_PLACEHOLDER

FIREBASE_API_KEY=FIREBASE_API_KEY_PLACEHOLDER
